@import "variables";
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  border: none;
  font-family: "微软雅黑", "黑体", "宋体";
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  //font-weight: 500;
}
html,
body {
  height: 100%;
  width: 100%;
  color: @font-color-default;
  background: #fff;
  font-size: 14px;
  line-height: normal !important;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: @font-color-default;
}
a:hover {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
//
//a:link{
//  color:#fff;
//}
//a:visited{
//  color:#fff;
//}
//a:hover{
//  color:#fff;
//}
//a:active {
//  color: #fff;
//}

button[disabled],
input[disabled] {
  cursor: default;
}
img {
  border: none;
}
ul,
ol,
li {
  list-style-type: none;
}

.content {
  width: @container-width-default;
  margin: 0 auto;
}

.tec-box {
  display: flex;
  justify-content: space-between;
  .tec-item {
    width: 320px;
    height: 180px;
    background: bisque;
    text-align: left;
    .tips-en {
      padding: 20px 0 3px 20px;
      color: rgba(149, 171, 216, 1);
      font-size: 16px;
    }
    .tips-ch {
      padding-left: 20px;
      font-size: 24px;
      color: @font-color-active;
    }
  }
  .tec-item-1 {
    background: url("../images/img_index__technology_1.png") center no-repeat;
    background-size: 100% 100%;
  }
  .tec-item-2 {
    background: url("../images/img_index__technology_2.png") center no-repeat;
    background-size: 100% 100%;
  }
  .tec-item-3 {
    background: url("../images/img_index__technology_3.png") center no-repeat;
    background-size: 100% 100%;
  }
}

.bg-light-purple {
  background: #f7f9ff;
}

.hc-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  ul {
    width: 100%;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 80px;
      &:first-child {
        margin-top: 0;
      }
      & > span {
        display: inline-block;
        width: 200px;
        height: 80px;
        line-height: 80px;
        font-size: 18px;
        text-align: center;
        background: rgba(13, 25, 136, 0.3);
        border-radius: 4px;
      }
    }
  }
}
